html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
}

#map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}